@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
html {
	height: 100%;
}

body {
	background-image: linear-gradient(to bottom, #434343 0%, black 100%);
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	overflow: hidden;
}

canvas {
	display: block;
	vertical-align: bottom;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
}

#name {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.71);
	border-radius: 25px;
	padding: 17px;
}

#name #letters {
	font-family: 'Audiowide', cursive;
	margin-top: 0;
	margin-bottom: 0;
	text-shadow: 2px 2px 4px black;
	font-size: 5vw;
	color: blue;
	letter-spacing: 0.25em;
}
